@import url("/css/theme.css");

html {
    scroll-behavior: smooth;
}

div.alert {
    background-color: var(--strawberry-500);
    border-radius: var(--border-radius);
    box-shadow: var(--button-box-shadow);
    margin-bottom: var(--typography-spacing-vertical);
    padding: calc(var(--typography-spacing-vertical) / 2) !important;
    text-align: left;
    text-shadow: unset !important;
}

    div.alert p {
        color: var(--silver-100);
        font-size: 0.8rem;
        margin-bottom: calc(var(--typography-spacing-vertical) / 4);
    }

        div.alert p:last-of-type {
            margin-bottom: 0;
        }

div.alert p a,
footer a {
    color: inherit;
    font-weight: 700;
    text-decoration: underline;
}

footer {
    background-color: var(--bubblegum-700);
}

    footer ul {
        font-size: 0;
        text-align: center;
    }

    footer ul,
    footer ul li {
        margin-bottom: 0;
        padding: 0;
        color: var(--silver-100);
        list-style: none;
    }

    footer li {
        display: inline-block;
        font-size: 0.875rem;
    }

        footer li:not(:first-child)::before {
            margin: 0 .25rem;
            content: "|";
        }

header {
    position: relative;
}

header h1 {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: var(--spacing);
    margin-top: 0 !important;
}

header h1,
header p {
    margin-left: auto;
    margin-right: auto;
    max-width: 70ch;
    text-align: center;
}

header > nav {
    margin-bottom: var(--block-spacing-vertical);
    margin-top: calc(var(--block-spacing-vertical) * -1);
}

header .background {
    filter: brightness(0.25);
    height: calc(100% + var(--block-spacing-vertical));
    margin-top: calc(var(--block-spacing-vertical) * -1);
    position: absolute;
    width: 100%;
    z-index: -1;
}

    header .background img {
        height: 100%;
        object-fit: cover;
        width: 100%;
    }

    header .background + * {
        text-shadow: 0 1px rgb(0 0 0 / 30%);
    }

header .container h1 + p {
    margin-top: calc(var(--spacing) * -1);
}

hgroup {
    margin-bottom: calc(var(--block-spacing-vertical) / 2);
}

hgroup:after {
    display: block;
    max-width: 100px;
    margin-top: 1rem;
    border-bottom: .125rem solid var(--primary);
    content: "";
}

main > section {
    min-height: 100vh;
    padding: var(--block-spacing-vertical);
}

nav ul:first-of-type {
    margin-left: calc(var(--spacing) * -.5);
}

nav .nav-logo {
    padding-bottom: 4px;
    padding-top: 4px;
}

    nav .nav-logo a {
        margin-left: calc(var(--spacing) * -1);
    }

        nav .nav-logo a img {
            height: 48px;
            width: 48px;
        }

[role=button],
button,
input[type=button], input[type=reset], input[type=submit],
div.alert {
    border: 1px solid rgba(0,0,0,.2);
    padding:
        var(--form-element-spacing-vertical)
        calc(var(--form-element-spacing-horizontal) * 1.5);
    text-shadow: 0 1px rgb(0 0 0 / 30%);
}

.laptop {
    display: grid;
}

    .laptop > * {
        grid-column: 1;
        grid-row: 1;
    }

    .laptop .screenshot {
        background-color: black;
        height: 69.1%;
        margin-left: 15%;
        margin-top: 4%;
        width: 70%;
    }

        .laptop .screenshot > * {
            height: 100%;
            object-fit: cover;
            width: 100%;
        }

#install {
    background-color: var(--background-color);
}
