@page "/develop"

<SWMeta
    Title="Develop" />
    
<SWError>
    <ErrorTitle>
        <I18n Key="Error.ComingSoon.Title" />
    </ErrorTitle>
    <ErrorSubtitle>
        <I18n Key="Error.ComingSoon.Subtitle" />
    </ErrorSubtitle>
    <ErrorBody>
        <p>
            <I18n Key="Error.ComingSoon.Body" />
        </p>
        <p>
            <I18n Key="Error.ComingSoon.Body.DevelopPage" />
        </p>
    </ErrorBody>
</SWError>
