@page "/"

<SWMeta
    Title="Explore" />

<SWHeader>
    <HeaderBackground>
        <img src="https://git.zio.sh/sodaliterocks/lfs/raw/branch/main/wallpapers/karsten-wurth-7BjhtdogU3A-unsplash.jpg" />
    </HeaderBackground>
    <HeaderContent>
        <p>
            <SWLaptop>
                <img src="https://git.zio.sh/sodaliterocks/lfs/raw/branch/main/screenshots/screenshot_desktop.png" />
            </SWLaptop>
        </p>
        <h1>
            <I18n
                Key="ExplorePage.Header.Tagline" />
        </h1>
        <p>
            <I18n
                Key="ExplorePage.Header.Description"
                Replacements=@(new string[] { 
                    "<a href=\"https://coreos.github.io/rpm-ostree/\">rpm-ostree</a>",
                    "<a href=\"https://elementary.io/open-source\">Pantheon</a>"
                }) />
        </p>
        <p>
            <a href="/install" role="button">
                <I18n
                    Key="ExplorePage.Header.GoInstall" />
            </a>
        </p>
    </HeaderContent>
</SWHeader>

<main>
    <section id="explore">
        <div class="container">
            <SWShowcase>
                <ShowcaseContent>
                    <h4>
                        Charming desktop
                    </h4>
                    <h1>Pantheon</h1>
                    <p>
                        Built by the fine folks at <a href="https://elementary.io/team">elementary</a>, Pantheon is an independent desktop environment that places UX and UI at the forefront.
                    </p>
                    <p>
                        We did more than just hap-hazardly slap Pantheon onto Sodalite, but took care in appreciating the little things...
                    </p>
                    <p>
                        <a href="https://elementary.io/open-source">Learn More &raquo;</a>
                    </p>
                </ShowcaseContent>
                <ShowcaseImage>
                    <img src="https://git.zio.sh/sodaliterocks/lfs/raw/branch/main/screenshots/screenshot_desktop.png" />
                </ShowcaseImage>
            </SWShowcase>
            <SWShowcase ImageOnRight=true>
                <ShowcaseContent>
                    <h4>Reliable updates</h4>
                    <h1>rpm-ostree</h1>
                    <p>
                        Utilizing <code>libostree</code> and <code>libdnf</code> to provide a hybrid image/package system, rpm-ostree is at the heart of Sodalite
                    </p>
                    <p>
                        <a href="https://elementary.io/open-source">Learn More &raquo;</a>
                    </p>
                </ShowcaseContent>
                <ShowcaseImage>
                    <img src="https://git.zio.sh/sodaliterocks/lfs/raw/branch/main/screenshots/screenshot_desktop.png" />
                </ShowcaseImage>
            </SWShowcase>
            <SWShowcase>
                <ShowcaseContent>
                    <h4>Boxed applications</h4>
                    <h1>Flatpak</h1>
                    <p>
                        ...
                    </p>
                    <p>
                        <a href="https://www.flatpak.org/">Learn More &raquo;</a>
                    </p>
                </ShowcaseContent>
                <ShowcaseImage>
                    <img src="https://git.zio.sh/sodaliterocks/lfs/raw/branch/main/screenshots/screenshot_desktop.png" />
                </ShowcaseImage>
            </SWShowcase>
            <SWShowcase ImageOnRight=true>
                <ShowcaseContent>
                    <h4>Rock-solid foundation</h4>
                    <h1>Fedora</h1>
                    <p>
                        ...
                    </p>
                    <p>
                        
                    </p>
                    <p>
                        <a href="https://silverblue.fedoraproject.org">Learn More &raquo;</a>
                    </p>
                </ShowcaseContent>
                <ShowcaseImage>
                    <img src="https://git.zio.sh/sodaliterocks/lfs/raw/branch/main/screenshots/screenshot_desktop.png" />
                </ShowcaseImage>
            </SWShowcase>
        </div>
    </section>
    <section id="design">
        <SWBackgroundStack>
            <BackgroundStackBackground>
                <img src="https://git.zio.sh/sodaliterocks/lfs/raw/branch/main/wallpapers/dustin-humes-OrO_HSqlZMY-unsplash.jpg" />
            </BackgroundStackBackground>
            <BackgroundStackContent>
                <div class="container">
                    Hello :)
                </div>
            </BackgroundStackContent>
        </SWBackgroundStack>
    </section>
    <section id="oss">

    </section>
    <section id="download">
        <div class="container">

        </div>
    </section>
</main>
