@page "/"

<SWMeta
    Title="Explore" />

<SWHeader>
    <HeaderBackground>
        <img src="https://git.zio.sh/sodaliterocks/lfs/raw/branch/main/wallpapers/karsten-wurth-7BjhtdogU3A-unsplash.jpg" />
    </HeaderBackground>
    <HeaderContent>
        <p>
            <SWLaptop>
                <img src="https://git.zio.sh/sodaliterocks/lfs/raw/branch/main/screenshots/screenshot_desktop.png" />
            </SWLaptop>
        </p>
        <h1>Immutable. Beautiful.</h1>
        <p>Combining the power of <a href="https://silverblue.fedoraproject.org">Fedora Silverblue</a> and simplicity of <a href="https://elementary.io/open-source">Pantheon</a>; an OS built for developers and hobbyists, providing an insanely stable platform and a charming desktop.</p>
        <p>
            <a href="/install" role="button">Get Started</a>
        </p>
    </HeaderContent>
</SWHeader>

<main>
    <div class="container">
        <section id="explore" data-theme="dark">
            <hgroup>
                <h2>Explore</h2>
                <h3>Take a peek.</h3>
            </hgroup>
        </section>
    </div>
</main>
