@page "/install"

<SWMeta
    Title="Install" />
    
<main>
    <section id="explore" data-theme="dark">
        <div class="container">
            <hgroup>
                <h2>Install</h2>
                <h3>One small step.</h3>
            </hgroup>
        </div>
    </section>
</main>
