@page "/install"

<SWMeta
    Title="Install" />
    
<SWHeader>
    <HeaderBackground>
        <img src="https://git.zio.sh/sodaliterocks/lfs/raw/branch/main/wallpapers/nathan-dumlao-y_qtd7IizFE-unsplash.jpg" />
    </HeaderBackground>
    <HeaderContent>
        <h1>
            <I18n Key="InstallPage.Title" />
        </h1>
        <p>
            <I18n Key="InstallPage.Header.Subtitle" />
        </p>
    </HeaderContent>
</SWHeader>

<main>
    <section id="install">
        <div class="container">
            <p>
                There are two ways of
            </p>
        </div>
    </section>
</main>
