@page "/support"

<SWMeta
    Title="Support" />
    
<SWError>
    <ErrorTitle>
        <I18n Key="Error.ComingSoon.Title" />
    </ErrorTitle>
    <ErrorSubtitle>
        <I18n Key="Error.ComingSoon.Subtitle" />
    </ErrorSubtitle>
    <ErrorBody>
        <p>
            <I18n Key="Error.ComingSoon.Body" />
        </p>
        <p>
            The <strong>Support</strong> page will host FAQs, documentation, and (potentially) a link to a dicussion forum.
        </p>
    </ErrorBody>
</SWError>
