<div class="background-stack">
    <div class="background" style=@($"filter: brightness({Brightness.ToString()});")>
        @BackgroundStackBackground
    </div>
    <div class="content">
        @BackgroundStackContent
    </div>
</div>

@code {
    [Parameter] public RenderFragment BackgroundStackBackground { get; set; }
    [Parameter] public RenderFragment BackgroundStackContent { get; set; }
    [Parameter] public double Brightness { get; set; } = 0.25;
}