<main>
    <section id="error" data-theme="dark">
        <div class="container">
            <hgroup>
                <h2>@ErrorTitle</h2>
                <h3>@ErrorSubtitle</h3>
            </hgroup>
            @ErrorBody
        </div>
    </section>
</main>

@code {
    [Parameter] public RenderFragment ErrorBody { get; set; }
    [Parameter] public RenderFragment ErrorSubtitle { get; set; }
    [Parameter] public RenderFragment ErrorTitle { get; set; }
}
