<main>
    <section id="error" data-theme="dark">
        <div class="container">
            <hgroup>
                <h2>@Title</h2>
                <h3>@Subtitle</h3>
            </hgroup>
            @ChildContent
        </div>
    </section>
</main>

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public string Title { get; set; }
    [Parameter] public string Subtitle { get; set; }
}
