footer {
    background-color: var(--slate-700);
}

    footer ul {
        font-size: 0;
        text-align: center;
    }

        footer ul:last-child {
            margin-bottom: 0;
        }

    footer ul,
    footer li {
        padding: 0;
        color: var(--silver-100);
        list-style: none;
    }

    footer li {
        display: inline-block;
        font-size: calc(var(--font-size) / 1.25);
        margin-bottom: 0;
    }

        footer li:not(:first-child)::before {
            margin: 0 .25rem;
            content: "|";
        }
