.grid {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: calc(var(--block-spacing-vertical) / 2) 0;
}

@media (min-width: 576px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 992px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .grid.col-2 {
        grid-template-columns: 1fr 1fr;
    }
}